<div class="container">


  <div class="header my-5">
      <h1 class= "header__h1 text-center">Create a new <span class= "header__color">item</span>
      <span class="header__back">portfolio</span>
      </h1>
   </div>
 


<%= form_with(model: @portfolio_item, local: true) do |form| %>
 

    <%= form.label :title, "Numele websitului" %>
    <%= form.text_field :title %>
 


 
    <%= form.label :subtitle, "Subtitlul" %>
    <%= form.text_field :subtitle %>
 
 
 
  
    <%= form.label :github_link %>
    <%= form.text_field  :github_link %>
 

   
    <%= form.label :live_link %>
    <%= form.text_field  :live_link %>
 

   
    <%= form.label :main_image %>
    <%= form.text_field  :main_image %>
 

  <ul>
   <%= form.fields_for :technologies do |technology_form| %>
    <li><%= technology_form.label :name %></li>
    <li><%= technology_form.text_field  :name %></li>
   <% end %>
  </ul>


   <%= form.label :body %>
    <%= form.text_area :body %>

 
    <%= form.submit %>
 
<% end %>

</div>
