
<div class="container">
      <h1 class="text-center my-5"><%= @portfolio_item.title %></h1>

    <div class="row">
        <div class="col-lg-6">
          <%= image_tag @portfolio_item.main_image,class: "img-fluid" unless @portfolio_item.main_image.nil? %>
        </div>
        <div class="col-lg-6">
    

          <em><%= @portfolio_item.subtitle %></em>
          <p><%= @portfolio_item.body %></p>

          <%# image_tag @portfolio_item.thumb_image unless @portfolio_item.thumb_image.nil? %>

          <h2>Technologies used</h2>
        <hr class="white-line">
          <% @portfolio_item.technologies.each do |t| %>
            <%= t.name %> 
          <% end %>
        </div>
    </div>
</div>