     
       <%= blog.title %>
       <%= blog.body %>
        <span> Published <%= distance_of_time_in_words(blog.created_at, Time.now)%> ago</span> 
       <%= link_to blog.status, toggle_status_blog_path(blog) if logged_in?(:site_admin)  %>
       <%= link_to 'Show', blog %>
       <%= link_to 'Edit', edit_blog_path(blog) if logged_in?(:site_admin)  %>
       <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }  if logged_in?(:site_admin) %>
       