<div class="<%= on %>">
  <div class="nav__link"><%= link_to "Home", root_path %> </div>
  <div class="nav__link"><%= link_to "About-me", about_path %> </div>
  <div class="nav__link"><%= link_to "Contact", contact_path %> </div>
  <div class="nav__link"><%= link_to "Blog", blogs_path %> </div>
  <div class="nav__link"><%= link_to "Portfolio", portfolio_path %> </div>
</div>
