<div class="container">
   <div class="header my-5">
      <h1 class="header__h1 text-center">get in <span class="header__color">touch</span>
         <span class="header__back">contact</span>
      </h1>
   </div>




   <div class="row contact__container">
      <!-- Left Side Starts -->
      <div class="col-12 col-lg-4 mb-5">
         <h3 class="text-uppercase contact__title mb-0 ft-wt-600 pb-3">Don't be shy !</h3>
         <p class="mb-3">Get in touch I am open to discuss new projects and ideas. </p>
         <div class="contact position-relative">
            <i class="contact__icon">
               <svg>
                  <use xlink:href="#icon-envelope" />
               </svg>
            </i>

            <div class="contact__details">
             <p>mail me:</p> 
             <p>vmwhoami@gmail.com</p>
            </div> 
         </div>

         <div class="contact position-relative">
            <%# here is the phone icon %>

            <i class="contact__icon">
               <svg>
                  <use xlink:href="#icon-phone" />
               </svg>
            </i>

            <div class="contact__details">
             <p>call me:</p> 
             <p> +373 69442476</p>
            </div> 
                 
         </div>

         <%= render 'shared/social_icons.html' %>
      </div>
      <!-- Left Side Ends -->



      <!-- Contact Form Starts -->
      <div class="col-12 col-lg-8">
  <!--   Form St -->

         
<%= form_with url: contact_path, scope: "contact",class:"contact_form"   do |f| %>

            <div class="contact_form">
               <div class="row">
                  <div class="col-12 col-md-4">
                      <%= f.text_field :name, placeholder: "YOUR NAME"%>
                  </div>
                  <div class="col-12 col-md-4">
                   <%= f.text_field :email, placeholder: "YOUR EMAIL" %>
                     
                  </div>
                  <div class="col-12 col-md-4">
                   <%= f.text_field :subject, placeholder: "YOUR SUBJECT" %>
                     
                  </div>
                  <div class="col-12">
                 
                     <%= f.text_area :message, placeholder: "YOUR MESSAGE" %>

                      <%= f.submit  "Send Message",class: "contact__button" do %>
                            <svg>
            <use xlink:href="#icon-home" />
          </svg>
                      <% end %>
                     <%# render  "shared/mybutton" %>
                  </div>
                  <div class="col-12 form-message">
                     <span class="output_message text-center font-weight-600 text-uppercase"></span>
                  </div>
               </div>
            </div>
        <% end %>   <!--   Form End -->
      </div>
      <!-- Contact Form Ends -->
   </div>
</div>