<!DOCTYPE html>
<html>
  <head>
    <title><%= @blog_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= keywords %>">
    <%= favicon_link_tag asset_path('SVG/vmlogo.svg') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container">
      <%= render  "shared/notices" %>
      <%= render "shared/nav" ,on: 'main' %>
      <%= user_functionality %>
        
      <%= yield %>
      <%= visitor_from %>
      
   </div>
   <%= @copyright %>
  </body>
</html>
