<!DOCTYPE html>
<html>
  <head>
    <title><%= @blog_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('SVG/vmlogo.svg') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
 <%= render 'shared/notices' %>
   <%= user_functionality %>
    <%= yield %>

   <%= render "shared/nav" %>
</div>
  </body>
</html>
