<!DOCTYPE html>
<html>
  <head>
    <title><%= @blog_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('SVG/vmlogo.svg') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <%= render 'shared/notices' %>
       <% if current_user.is_a?(User) %>
          <%= link_to  "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to  "Register", new_user_session_path %>
          <%= link_to  "Login", new_user_session_path	  %>
       <% end %>
      
    <%= yield %>

   <%= render "shared/nav",on: 'main' %>

  </body>
</html>
